.aside {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3em;
  height: 100%;
  background-color: #fff;
  width: 0svw;
  transition-property: width;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  max-width: 400px;
  padding: 1em 0em;
  overflow: hidden;
  min-width: 0px;

  & > * {
    width: fit-content;
  }

  &[data-open='true'] {
    width: 30svw;
    min-width: 300px;
    padding: 1em 2em;
  }

  & > nav {
    display: grid;
    place-items: center;
    grid-template-columns: 0.3fr auto auto;
    width: 100%;
    ul {
      display: flex;
      gap: 2em;
      font-size: 1.5em;
      list-style-type: none;

      li {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          bottom: -4px;
          left: 50%;
          font-weight: 500;
          transform: translateX(-50%);
          height: 1px;
          width: 0%;
          background-color: #000;
          border-radius: 50px;
          transition: width 0.25s ease-out;
        }
        &:hover {
          cursor: pointer;
        }
      }

      li[aria-active='true']::after {
        width: 100%;
      }
    }
    button {
      align-self: start;
      color: white;
      border-radius: 5px;
      border: none;
      background-color: transparent;
      padding: 0.5em;
      transition: rotate 0.25s ease-out;
      &:hover,
      &:focus-visible {
        cursor: pointer;
        filter: brightness(75%);
        opacity: 1;
        rotate: 90deg;
      }
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;
  width: 100%;
  min-width: max-content;

  & > button:last-child {
    width: fit-content;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background: #000;
    &:hover,
    &:focus-visible {
      cursor: pointer;
      filter: brightness(75%);
      opacity: 1;
    }
  }
}

.form > label {
  display: grid;
  justify-items: start;
  align-items: center;
  width: 100%;
  font-size: clamp(1.25em, 1.7vw, 1.5em);
  font-weight: 300;
  gap: 0.25em;
  min-width: 100%;
  & > input {
    width: 100%;
  }
  & > p {
    font-size: 0.75em;
  }
}

.openButton {
  position: absolute;
  display: grid;
  place-items: center;
  top: 20px;
  right: 20px;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  padding: 0.5em;
  &:hover,
  &:focus-visible {
    cursor: pointer;
    filter: brightness(75%);
    opacity: 1;
  }
}
