.aside {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3em;
  height: 100%;
  background-color: #fff;
  width: 0svw;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  max-width: 400px;
  padding: 1em 0em;
  min-width: 0px;
  max-height: 100svh;
  input {
    border-radius: 0px;
  }
  & > div {
    display: flex;
    flex-direction: column;
    gap: 2em;
    overflow: hidden;
    width: 0%;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(240, 240, 240);
    border-radius: 25px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 25px;
    border: 0px none #ffffff;
  }

  & > *,
  & > * > * {
    width: fit-content;
  }

  &[data-open='true'] {
    width: 30svw;
    min-width: 300px;
    padding: 1em clamp(0.5em, 5svw, 2em);
    & > div {
      width: 100%;
    }
  }

  & nav {
    display: grid;
    place-items: center;
    grid-template-columns: auto 1fr;
    gap: 10px;
    width: 100%;
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: clamp(1.2em, 1.5vw, 1.5em);
      list-style-type: none;
      width: 100%;

      li {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          bottom: -4px;
          left: 50%;
          font-weight: 500;
          transform: translateX(-50%);
          height: 1px;
          width: 0%;
          background-color: #000;
          border-radius: 50px;
          transition: width 0.25s ease-out;
        }
        &:hover {
          cursor: pointer;
        }
      }

      li[data-active='true']::after {
        width: 100%;
      }
    }
    button {
      align-self: start;
      color: white;
      border-radius: 5px;
      border: none;
      background-color: transparent;
      transition: rotate 0.25s ease-out;
      &:hover,
      &:focus-visible {
        cursor: pointer;
        filter: brightness(75%);
        opacity: 1;
        rotate: 90deg;
      }
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;
  width: 100%;
  min-width: max-content;
}

.form > label {
  display: grid;
  justify-items: start;
  align-items: center;
  width: 100%;
  font-size: clamp(1.25em, 1.7vw, 1.5em);
  font-weight: 300;
  gap: 0.25em;
  min-width: 100%;
  & > input {
    width: 100%;
  }
  & > p {
    font-size: 0.75em;
  }
}

.openButton {
  position: absolute;
  display: grid;
  place-items: center;
  top: 20px;
  right: 20px;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  padding: 0.5em;
  transition: all 0.25s ease-out;

  & img {
    width: clamp(25px, 3svw, 40px);
  }
  &:hover,
  &:focus-visible {
    cursor: pointer;
    filter: brightness(75%);
    opacity: 1;
    scale: 1.1;
  }
}

.cta_container {
  display: flex;
  gap: 1em;
}

.logout {
  position: absolute;
  bottom: 10px;
  left: 0;
  transform: translateX(calc(-100% - 10px));
  width: fit-content;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  color: white;
  background: hsl(0, 0%, 0%);
  &:hover,
  &:focus-visible {
    cursor: pointer;
    filter: brightness(75%);
    opacity: 1;
  }
}
