.wrapper_links {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.form_Link {
  & h2 {
    padding-inline: 0.25em;
  }
}
.links_container {
  position: relative;
  display: grid;
  gap: 0.5em;
  backdrop-filter: blur(10px);
  padding: 0.5em;

  & > label {
    position: relative;
    display: grid;
    gap: 0.25em;

    & > p {
      font-weight: 500;
      font-size: larger;
    }

    & > input {
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.75);
      background-color: transparent;
      padding: 0.5em;
    }
  }

  & > svg:not(:last-child) {
    position: absolute;
    top: 14px;
    left: 0%;
    transform: translateX(-150%);

    &:hover {
      cursor: grab;
    }
  }

  & > svg:last-child {
    position: absolute;
    bottom: 10px;
    left: 0%;
    transform: translateX(-150%);
    transition: transform 0.25s ease-out;
    &:hover {
      cursor: pointer;
      transform: translateX(-150%) rotate(90deg);
    }
  }
}

.header_container {
  position: relative;
  display: grid;
  padding-inline: 0.5em;
  gap: 0.5em;
  & input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    background-color: transparent;
    padding: 0.5em;
  }
}
