.wrapper_links {
  display: flex;
  flex-direction: column;
  gap: 2em;
  overflow: hidden;
  min-height: 300px;
  height: fit-content;
  padding-block: 1em 2em;
}
.form_Link {
  display: grid;
  width: 100%;
  gap: 2em;
  & h2 {
    padding-inline: 0.25em;
  }
}
.header_link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & button {
    background: transparent;
    border: none;

    & > svg {
      transition: rotate 0.3s ease-out;
      rotate: 45deg;
    }
    &:hover {
      cursor: pointer;
      & > svg {
        rotate: 135deg;
      }
    }
  }
}
.links_container {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5em;
  backdrop-filter: blur(10px);
  padding: 0.5em;

  & > label {
    position: relative;
    display: grid;
    gap: 0.25em;
    user-select: none;

    & > p {
      font-weight: 500;
    }

    & > input {
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.75);
      background-color: transparent;
      padding: 0.5em;
    }
  }

  & > svg:first-child {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 5px;
    &:hover,
    &:focus {
      cursor: grab;
    }
  }

  & > svg:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
    transition: transform 0.25s ease-out;
    align-self: end;
    &:hover {
      cursor: pointer;
      transform: rotate(90deg);
    }
  }
}

.header_container {
  position: relative;
  display: grid;
  width: 100%;
  gap: 2em;
  padding-inline-end: 2em;
  & p {
    font-weight: 500;
  }
  & input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    background-color: transparent;
    padding: 0.5em;
    font-weight: 300;
  }
}
.cta_container,
.cta_container_link {
  display: flex;
  gap: 1em;
}

.cta_container_link {
  position: fixed;
  bottom: 10px;
}
