.wrapper_links {
  display: flex;
  flex-direction: column;
  gap: 2em;
  overflow: hidden;
}

.links_container {
  display: grid;
  gap: 0.5em;
  & > label {
    position: relative;
    display: grid;
    gap: 0.25em;
  }

  & > label > span {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 100%;
    left: -50%;
  }
}
