<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title inertia>404 Undefined-Page</title>
  @vite(['../resources/css/app.css', '../resources/js/app.js'])
</head>

<body>
<h1 class="h1error">404 - Page not found</h1>
<p>
  This template is rendered by the
  <a href="http://docs.adonisjs.com/guides/exception-handling#status-pages">status pages feature</a>
  of the global exception handler.
</p>
</body>

</html>


